{% include 'header_logged.twig' %}

<div>
    <img src="../photos/{{ user.avatar }}" alt=""
         style="min-width: 200px; height: 200px">
</div>

<div>
    Имя: {{ user.name }}
</div>
<div>
    Возраст: {{ user.age }}
</div>
<div>
    Описание: {{ user.description }}
</div>

<div>
    Список загруженных файлов:
    <ul>
        {% if user.photos is defined %}
            {% for photo in user.photos %}
                <div>{{ photo.filename }}</div>
            {% endfor %}
        {% endif %}
    </ul>
</div>

<div>
    Список пользователей:
    <table>
        <tr>
            <th>Имя</th>
            <th>Возраст</th>
            <th>Совершеннолетие</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.age }}</td>
                <td>{{ user.ageType }}</td>
            </tr>
        {% endfor %}
    </table>
</div>